/*-----------------------------------------------------------------------------------
              # SECCION CSS CURSO NO EDITAR 
-------------------------------------------------------------------------------------*/
.main-curso body { 
  font-family: 'Montserrat', 
  sans-serif; 
  color: #575756 ;
/*  background-color: #FAF6F0; */
   }

.main-curso  p {
  margin-left: 12px; 
  margin-right: 14px;  
  text-align: left;
}



 .main-curso a {
  color: #9F2241; }

.main-curso a:hover {
  color: #9F2241;   }

.main-curso h1,h2,h3,h4,h5,h6,.font-primary { 
  font-family: "Montserrat", 
  sans-serif;  }

.main-curso img{
  width: 100%!; 
  height: auto;
  max-width: 250px;   }

/*--------------------------------------------------------------
              # TITULO
--------------------------------------------------------------*/
.ind_sect{
  padding: 20px;    margin-bottom: 10px;
  background-image: url('https://citesems1.org/publicdata/CURSO_SEMS_Artes/img/FONDO.png');
  background-size: 21vw;
/*  background-size: cover; */
  background-position: center;
/*  background-repeat: no-repeat; */
  font-size: 28px;
  text-align: center;
  color: white;
  font-weight: bold;
  animation: fadeInLeft; animation-duration: .65s;  }

  @media only screen and (max-width: 720px) {       /* For mobile phones: */
  .ind_sect{
    font-size: 6.5VW;
    font-stretch: ultra-condensed;  } 
  }

/*--------------------------------------------------------------
          ANIMACION ICONOS
--------------------------------------------------------------*/
.animate-latido img {
      max-width: 180px;
      padding-top: 15px;
      
      /* Añadir cualquier otro estilo deseado aquí */
    }

    /* Animación de latido */
    @keyframes latido {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
    }

    /* Aplicar la animación a la clase */
    .animate-latido:hover img {
      animation: latido 1s infinite; /* Repetir la animación infinitamente */
    }


/*--------------------------------------------------------------
              # SOCIAL MEDIA
--------------------------------------------------------------*/
.social_media{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 15px;
  margin: 10px;   
}
  
.social_media a{
  color: #fff;  
}

.icon_fb, .icon_tw, .icon_yt, .icon_web{ 
  background-color: #611a2c;
  color: white;
  border: none;
  padding: 12px 14px;
  margin: 10px;
  border-radius: 50%;
}

  @media only screen and (max-width: 768px) {       /* For mobile phones: */
    .social_media{
    display: flex;
    flex-wrap: wrap;
    padding: 0 ;   } 
    .icon_fb, .icon_tw, .icon_yt, .icon_web{ 
    padding: 7px 11px;
    margin: 3px;  } 
  }

/*--------------------------------------------------------------
              # SECCION !IMPORTANTE
--------------------------------------------------------------*/
.seccion_import{
/*  background-color: #EBEAEA;*/
  margin-right: 25px;
  margin-left: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;  
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  padding: 2.5vw; }

.cuestionario_imp, .manual_imp{
  background-color: #FAF6F0;
  padding: 30px;
  text-align: center; 
  box-shadow: 0 4px 8px 0 rgb(232, 226, 213, 0.2), 0 6px 20px 0 rgb(232, 226, 213, 0.4);
  padding: 3vw; 
  flex: 1; 
  margin-bottom: 1.5vw;
  text-align: center;
 }

.titulo {
  font-size: 20px;
  background-color: #575756;
/*  background-color: #2C2B2C;*/
  border-radius: 8px;
  color: white;
  margin-bottom: 13px;
  font-weight: bold;
  padding-left: inherit;
  padding-right: inherit;   }

  @media only screen and (max-width: 768px) {       /* For mobile phones: */
    .seccion_import{
      flex-direction: column;}

    .cuestionario_imp, .manual_imp{
/*      width: 90vw;*/
      margin-bottom: 3vw; }
    
    .titulo{
    font-size: medium;  }
  }

/*--------------------------------------------------------------
              # SECCION ACTIVIDADES
--------------------------------------------------------------*/
.seccion_act{
     display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
}

.titulo-act{
/*  font-size: 20px;*/
  background-color: #611a2c;
  border-radius: 8px;
  color: white;
  padding: 3px;
  margin-bottom: 13px;
  font-weight: bold;
  padding-left: inherit;
  padding-right: inherit; }

.sec_1, .sec_2, .sec_3{
  background-color: #FAF6F0;
  box-shadow: 0 4px 8px 0 rgba(212,193,156, 0.09), 0 6px 20px 0 rgba(212,193,156, 0.02);
  padding: 50px;
  padding-top: 25px;
  max-width: 38vw;
  flex: 1; 
  text-align: center;
  text-justify: inter-word; }


  @media only screen and (max-width: 768px) {       /* For mobile phones: */
    .seccion_act{
        flex-direction: column;  }

    .sec_1, .sec_2, .sec_3{
     max-width: 90vw;
     padding: 5vw; }
  }

/*--------------------------------------------------------------
              # SECCION TEXTO SIMPLE
--------------------------------------------------------------*/
.secc_text{
  padding-top: 15px;
  text-align: left;
  margin: 5px; 
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px; }

.titulo_text , .titulo_temario , .titulo_tablas, .titulo_semblanza, .titulo_contenido, .titulo_lista, .titulo_glosario{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;  }

/*--------------------------------------------------------------
              # SECCION TEXTO IMPORTANTE
--------------------------------------------------------------*/
.secc_important_text {
  margin: 1vw; /* Adjust margin using viewport width units */
  box-shadow: 0 4px 8px 0 rgba(159, 34, 65, 0.2), 0 6px 20px 0 rgba(237, 17, 93, 0.19);
  background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(255,255,255,1) 100%);
  border-radius: 6px;
  border-style: solid;
  border-color: #9F2241; }

.important_text {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 1vw;  }

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .secc_important_text, .important_text {
    margin: 2vw;  }

  .secc_important_text, .important_text img {
    margin: 2vw; 
    max-width: 100%; 
    height: auto;   }

}
/*--------------------------------------------------------------
              # SECCION TEMARIO
--------------------------------------------------------------*/
.temario{
  /*padding-top: 15px;
  text-align: justify;
  margin: 5px;  
  font-size: 1.05vw  */
  padding-top: 1.5vw; 
  text-align: justify;
  margin: 0.5vw; 
  font-size: 1.05vw;  }

.container_temario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

  @media only screen and (max-width: 768px) {
    .temario {
      font-size: medium; /* Adjust font size for smaller screens */
    }
  }

.table_curso {
    height: 200px;
    flex-basis: calc(50% - 10px);
    background-color: #ffff;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    transition: opacity 1.2s ease-in-out; }

.hidden-curso {
    opacity: 0;
    pointer-events: none;   }

.visible {
    opacity: 1;
    transition: opacity 1.2s ease-in-out; }

.table_curso table {
    width: 100%;
      }

.table_curso  table td {
    padding: 8px; }

.table_curso table th {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    background-color: #B38E5D;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center; }

@media only screen and (max-width: 768px) {       /* For mobile phones: */
  .container_temario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column; }
}

/*--------------------------------------------------------------
              # SECCION TABLAS
--------------------------------------------------------------*/
.container_tablas th {
  text-align: center;
  color: #fff;
  background-color: #F4F1EA; 
  padding-left: 20px;
  padding-right: 20px; }

.container_tablas table {
  border-collapse:collapse;
  border: 1px solid black; }

.container_tablas , .table-responsive {
  animation: fadeInLeft; 
  animation-duration: 0.95s;
  border-radius: 10px;
}

/*--------------------------------------------------------------
              # SECCION SEMBLANZA
--------------------------------------------------------------*/
.nombre_asesor{
  padding-left: 20px;
/*  background-color: #C9C9C9;*/
  background-color: #575756;
  color: #fff;
  margin-top: 10px;
  border-radius: 14px; 
  width: 50%; }

@media only screen and (max-width: 768px) {       /* For mobile phones: */
  .nombre_asesor{
  width: 70%; }
}


/*--------------------------------------------------------------
              # SECCION GREEN TEXT
--------------------------------------------------------------*/
.green_text{
  background-color: #611a2c;
  color: #fff;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  font-weight: bold;  }

/*--------------------------------------------------------------
              # SECCION GLOSARIO
--------------------------------------------------------------*/
.hover-container {
  position: relative;
  display: inline-block;  }

.hover-text {
  visibility: hidden;
  width: 320px;
  background-color: #B38E5D;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);  }

.hover-container:hover .hover-text {
  visibility: visible;  }

.glosario {
  border: none;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color:#9F2241;
color: white;}

@media only screen and (max-width: 768px) {       /* For mobile phones: */
  .hover-text{
    width: 240px;
    top: -33px;    }
}



/*--------------------------------------------------------------
              # CONTENIDO UNIDADES
--------------------------------------------------------------*/
.tab-wrapper_act {
  position: relative; }

.tab-wrapper_act p{
  margin-left: 10px;
  margin-right: 12px;  }

.tabs {     
  display: flex;
  /*flex-wrap: wrap;
  justify-content: flex-start;  
  */background-color: #F4F1EA;  }

.tab-button-curso {
    justify-content: space-around;
    background-color: #F4F1EA;
    color: #631A2E;
    padding: 8px 16px;
    margin: 10px;
    font-size: 18px;
    /*border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;*/
    cursor: pointer;
    transition: background-color 0.3s;   }

/*.tab-button-curso:hover {
  background:#9F2241;   
  color:white;  }*/

.tab-button-curso.active {
  background:#9F2241;   
  border-color: #631A2E;
  color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px
}
    
.tab-content-curso {
  margin-left: 0.5vw;
  text-align: left;
  padding: 20px;
/*  background-color: #FAF6F0;*/
  background-color: #fff;
  margin-bottom: 15px;
  animation: fadeIn;
  animation-duration: 1.95s;
  box-shadow: 1px 11px 6px 1px #f4f1ea; }



  @media only screen and (max-width: 600px) {       /* For mobile phones: */

   .tab-wrapper_act p{
      margin-left: 4px;
      margin-right: 4px; 
      text-align: left; }

    .tabs{
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;  }
    
   .tab-button-curso {   
      display: none;        }

    .tab-button-curso.active {
      font-weight: 600;
      color: #611a2c;
      display: block;
      background-color: #F4F1EA;
      width:55%;
      line-height: 3vh;  
      font-size: 18px;
      text-align: center;     }
  }

/*--------------------------------------------------------------
  # BOTONES TABS
--------------------------------------------------------------*/
  @media only screen and (max-width: 600px) {
    .pre,.next {
      display: inline-block;
      border: none;
      background-color: #611a2c;
      color: white;
      width: 35px;   }

    .pre:hover{
      background-color: #9F2241;  }
      
    .next:hover{background-color: #9F2241; }

    .pre {
      left: 2.5%; }

    .next {
      right: 2.5%;  }


  }

  @media only screen and (min-width: 601px) {
    .pre,.next {
      display: none;  }
  }

/*--------------------------------------------------------------
  # SECCION CONTENIDO INTERACTIVO
--------------------------------------------------------------*/
.container-video {
  position: relative;
  overflow: hidden-curso; 
  width: 100%; 
  padding-top: 46.25%; 
  align-items: center; }

.container-h5p {
  position: relative;
  overflow: hidden-curso; 
  width: 100%; 
  padding-top: 46.25%; 
  align-items: center; }

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

  @media only screen and (max-width: 768px) {       /* For mobile phones: */
  .container-video {
    padding-top: 64.25%;   }

  .container-h5p {
   padding-top: 100%;   }
  }

/*--------------------------------------------------------------
# ESTILO ACTIVIDADES | RECURSOS
--------------------------------------------------------------*/
.button-container-subtabs {
  display: flex;
  flex-wrap: wrap; 
/*  background-color:#F5F2EB */
   }

.toggle-button-subtabs {
  background-color: #F4F1EA;
  color: white;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
/*  border-top-right-radius: 18px;
  border-left-radius: 20px; 
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;*/
  cursor: pointer;
  transition: background-color 0.3s;  }

.toggle-button-subtabs:hover {
  background: #9F2241;
  border-color: #9F2241;
  color: #FFF;    }

.active-button-subtabs {
  background: #9F2241;
  border-color: #9F2241;
  color: #FFF;    }

.content-subtabs {
  display: none;
  padding: 20px;
  margin: 10px;
  margin-left: 32px;
  margin-right: 32px;
  animation: fadeIn; animation-duration: .95s; 
  box-shadow: 0px 7px 10px #f4f1ea;
  border-bottom-right-radius: 19px; }

.active-content-subtabs {
  display: block;   }

  @media only screen and (max-width: 768px) {       /* For mobile phones: */
    .content-subtabs {
      padding: 5px;
      line-height: 15px;
      margin: 2px;}

    .toggle-button-subtabs {
      font-size: 16px;
      padding: 8px 16px;
      margin: 8px;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 22px;
      border-bottom-left-radius: 22px;        }

    .tab-content-curso {
      margin-left: 2vw; 
      margin-right: 2vw;
      padding: 15px;        }

    .button-container-subtabs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;}
  }


/*--------------------------------------------------------------
    # BACK TO TOP
--------------------------------------------------------------*/
#back-to-top-curso {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 90px;
  z-index: 999;
  padding: 8px 12px;
  background-color: #F4F1EA;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#back-to-top-curso:hover {
  background-color: #9F2241;
}


/*--------------------------------------------------------------
    # TABLAS
--------------------------------------------------------------*/
.tablas {  text-align: -webkit-center;  }

.tablas table td{  text-align: left;}

.table-wrapper-curso {
  width: 100%;
  overflow-x: auto; }

.table-wrapper-curso td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd; }

.table-wrapper-curso td:first-child {
  min-width: 150px;
  max-width: 150px;   }

.table-wrapper-curso td:last-child {
  word-break: break-all;  }

.table-responsive table, th, td{
  padding-left: 10px;
  padding-right: 10px;  }

.table-responsive th{
  text-align: center; }

.table-responsive a{
  color: #575756; 
  text-decoration: none;
}

.table-responsive a:hover{
  color: #575756; 
  cursor: pointer;}


/*--------------------------------------------------------------
    # DROPDOWN
--------------------------------------------------------------*/
.dropdown_curso {
  position: relative;
  display: inline-block;  }

.dropdown_curso button{
    background-color:inherit;
    color: inherit;
    font-size: 18px;
    border: none;
    /*padding: 10px 20px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;*/
   /* border-top-right-radius: 18px;
    border-left-raduis: 20px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;*/
    cursor: pointer;
    transition: background-color 0.3s;  }

.dropdown_curso-content {
  display: none;
  position: absolute;
  background-color: rgba(249, 249, 249, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: small; }

.dropdown_curso-content button {
  height: 100%;
  padding: 0;
  color: #631a2e;;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  text-align: left;
  width: -webkit-fill-available;  }

.dropdown_curso-content button:hover {
  background-color: #631a2e;
  color: white;
  width: -webkit-fill-available;
/*  border-radius: 10px;  */  }

.dropdown_curso:hover .dropdown_curso-content {
  display: block;  }

/*.dropdown_curso:hover .dropbtn {
  background-color: #9F2241;  }*/

  @media screen and (max-width: 768px) {
    .temas-dropdown_curso{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .dropdown_curso button{
      color: #611a2c;}
  }




/*--------------------------------------------------------------
    # CONTENIDO INTRODUCCION
--------------------------------------------------------------*/
.content-introduccion{
  margin-left: 0.5vw;
  text-align: left;
  padding: 20px;
  background-color: #FAF6F0;
  margin-bottom: 15px;
  animation: fadeIn;
  animation-duration: 1.95s;
  box-shadow: 1px 11px 6px 1px #C9C9C9;
}




/*--------------------------------------------------------------
    # CONTENIDO DESPLEGABLE EN UN DROPDOWN QUE NI SIQUIERA ESTABA PENSADO EN PRIMER LUGAR 
--------------------------------------------------------------*/
.dropdown-subtema {
    position: relative;
    display: inline-block;
    width: 66.66%; 
  }

  .dropdown-subtema-content {
    display: none;
    position: absolute;
    background-color: #FAF6F0;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(212,193,156, 0.09), 0 6px 20px 0 rgba(212,193,156, 0.02);
    z-index: 1;
    width: 100%; /* Llenar el espacio disponible */
    left: 0; /* Centrar el contenido */
  }

  .dropdown-subtema-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-subtema-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown-subtema:hover .dropdown-subtema-content {
    display: block;
  }

  .dropbtn-subtema {
    width: 100%; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    color: #fff;
    background-color: #611a2c;
    font-size: 18px;
    padding: 4px;
  }

/*--------------------------------------------------------------
    SEPARADOR DE CONTENIDO PARA LA UNIDAD
--------------------------------------------------------------*/
  .separador{
  background-color: #651E34;
  padding: 3px;
  margin-bottom: 10px;

  }





/*--------------------------------------------------------------
SUBTABS
--------------------------------------------------------------*/


    .toggle-button-subtabs {
    background-color: #651E34;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-top-right-radius: 18px;
    border-left-radius: 20px; /* Corrected typo */
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    cursor: pointer;
    transition: background-color 0.3s;  }

    .toggle-button-subtabs:hover {
        background: #9F2241;
        border-color: #9F2241;
        color: #FFF;    }

    .active-button-subtabs {
        background: #9F2241;
        border-color: #9F2241;
        color: #FFF;    }

    /* Responsive Styling for Mobile Devices */
    @media screen and (max-width: 768px) {
        .toggle-button-subtabs {
            font-size: 16px;
            padding: 8px 16px;
            margin: 8px;
            border-top-right-radius: 18px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 22px;
            border-bottom-left-radius: 22px;        }
}
    /* Responsive Styling */
    @media screen and (max-width: 768px) {
        .tab-content-curso {
            margin-left: 2vw; /* Adjust as needed */
            margin-right: 2vw; /* Adjust as needed */
            padding: 15px;
        }
    }


/*--------------------------------------------------------------
# PDF VIEWER
--------------------------------------------------------------*/
.embed-responsive { 
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden; }

object{ 
  height:650px; 
/*  height="800px"*/ }

@media only screen and (max-width: 768px) {       /* For mobile phones: */
object{ height:180px; }
  }

.guia{ 
  height:650px; 
/*  height="800px"*/ }

@media only screen and (max-width: 768px) {       /* For mobile phones: */
.guia{ height:180px; }
  }


/*--------------------------------------------------------------
                    MODAL
--------------------------------------------------------------*/

  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 100%; /* Ancho máximo del contenido */
  max-width: 500px; /* Ancho máximo de 500px */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*--------------------------------------------------------------
                    collapse
--------------------------------------------------------------*/



    /* Style the button that is used to open and close the collapsible content */
.collapsible-curso {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-collapse, .collapsible-curso:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content-collapse-curso {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
